
name: Switch Price Updater
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Cron Trigger to Render
        run: |
          curl -X POST -H "x-cron-secret: ${{ secrets.CRON_SECRET }}" https://YOUR-RENDER-BACKEND.onrender.com/api/update-prices
